@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900');

html {
  overflow-y: scroll;
}
body {
  font-family: 'Roboto', sans-serif;
}
ol, ul {
  list-style: none;
  margin: 0;
	padding: 0;
}
blockquote, q {
	quotes: none;
}
a {
  text-decoration: none !important;
}

.form-control {
  box-shadow: none !important;
  &:focus {
    border-color: #ccc;
  }
}

.vert-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.align-icons {
  vertical-align: middle;
  line-height: 20px;
  overflow: inherit !important;
}

.light-yellow-bg {
  background-color: $color-light;
}

.dark-link {
  color: $color-1;
  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}

.react-tagsinput {
  border-radius: .25rem;
  &--focused {
    border-color: #ccc !important;
  }
}

.button-link {
  cursor: pointer;
  border: none;
  &:focus {
    outline: none;
  }
}